<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Roslynator.Analyzers" version="4.12.3" targetFramework="net48" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="9.25.0.90414" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
</packages>